    <div class="page-wrap">
        <h1>Test</h1>
        <div id="artist-container"></div>
    </div>

    <script id="artistTemplate" type="text/x-handlebars-template">
        {{#each artists}}
<div class="artist">
    <div class="work-column">
        <img src="{{artwork}}">
    </div>

    <div class="bio_column">
        <h3>{{name}}</h3>
        <p>{{bio}}</p>
    </div>

        {{/each}}
    </script>
