<header>
  <img id="logo" src="images/webwall.png">
  <h1 id="project2">Art Stack</h1>
  <nav>
    <ul>
      <li><a href="main">Home</a></li>
      <li><a href="gallery">Gallery</a></li>
      <li><a href="artists">Artists pages</a></li>

    </ul>
  </nav>