<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="A tech blog for practice purposes">

    <!-- Reset CSS -->
    <link href="/css/reset.css" rel="stylesheet">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/lightBlueStyle.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <!-- <link rel="icon" href="./assets/images/Signature.png"> -->

    <title>TITLE</title>
  </head>

  <body>
    <header>
      <p>Art Stack</p>
      {{#if userSignIn}}
        <p>signed in as {{userSignIn.name}}</p>
      {{else}}
        <p>not signed in</p>
      {{/if}}
    </header>

    <nav>
      <a href="/">home</a>
      {{#if userSignIn}}
        <a href="/logout">logout</a>
      {{else}}
        <a href="/register">register</a>
        <a href="/login">login</a>
      {{/if}}
    </nav>

    {{{body}}}

    {{!-- Footer --}}
  </body>

</html>
