<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Some description about the art gallery">

    <!-- Reset CSS -->
    <link href="/css/reset.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="icon" href="#">

    <title>Something about this art gallery</title>
</head>

<body>
    {{!-- Navbar --}}

    {{!-- This is where the dynamic body goes --}}
    {{{body}}}

</body>

</html>