<<<<<<< HEAD
<main>
    
    <div class="bio">
        <div class="row justify-content-center">
=======
<div class="bio">
    <div class="row justify-content-center">
        {{#if privatePage}}
            This is your page!
        {{/if}}
>>>>>>> f4788bb33f892b866855e37e37ad31b3999a22b2
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="bio">Biography</p>
                    {{user.userInfo.bio}}
                </div>
            </div>
        </div>
    </div>
    </div>

</main>