{{!-- For each exhibit within the specific gallery, make a card --}}
<div class="container row">
    {{#each exhibits as |exhibit|}}
    <div class="card text-center" style="width: 18rem;">
        {{> exhibitCard}}
        {{!-- Card Button --}}
        <a href="/user/{{user.id}}" class="btn btn-primary">Visit Artist's Page</a>
    </div>
    {{/each}}
</div>

{{!-- Notes: Add some padding between cards, give styling to text --}}