<img src="/images/openerAS_1.jpg" alt="Main Image" class="main-image">
<div class="row justify-content-around text-center">
  <div class="d-grid gap-2">
    <a class="nav-link" href="/register"><button class="btn btn-outline-secondary">Sign Up</button></a>
  </div>

  <div class="d-grid gap-2">
    <a class="nav-link" href="/gallery"><button class="btn btn-outline-secondary">View Gallery</button></a>
  </div>
</div>
