<main>

  <div class="container-fluid">
  <img src="images/openerAS_1.jpg" alt="">
</div>


<p>check /user/:id</p>

<ul>
  {{#each users as |user|}}
    <li>{{user.id}} => {{user.email}}</li>
  {{/each}}
</ul>


</main>