<div class="container">
  <h1>Login</h1>
  </br>

  <form id="loginForm">
    <div class="input-group mb-3">
      <label class="input-group-text" for="email">Email</label><br>
      <input type="email" id="email" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="email"><br>
    </div>

<<<<<<< HEAD
<form id="loginForm">
  <div class="input-group mb-3">
  <span class="input-group-text" id="email" name="email">Email</span>
  <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="password" name="password">Password</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
  <input type="submit">
</form>
=======
    <div class="input-group mb-3">
      <label class="input-group-text" for="password">Password</label><br>
      <input type="password" id="password" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="password">
    </div>
>>>>>>> f4788bb33f892b866855e37e37ad31b3999a22b2

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    
  </form>
</div>

<script src="/js/auth.js"></script>