<div class="container">
  <h1>Upload</h1>

  <form id="uploadForm">
    <div class="input-group mb-3">
      <label class="input-group-text" for="title">Title</label><br>
      <input type="text" id="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="title">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="medium">Medium</label><br>
      <input type="text" id="medium" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="medium">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="size">Size</label><br>
      <input type="text" id="size" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="size">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="price">Price</label><br>
      <input type="number" id="price" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="price">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>
</div>
