body {
    /* background: url(../images/light-brick.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%; */
    font-family: 'Arsenal', sans-serif;
}
/* 
body {
} */

img.icon {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2px;
}

img.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* max-width: 100%;
    height: auto; */
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: navy;
    /* Green */
    color: white;
}

