body {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    font-family: 'Arsenal', sans-serif;
    color:rgb(221, 229, 230);
}

img.icon {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px;
    margin-left: 15px;
}

img.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 4px;
    /* max-width: 100%;
    height: auto; */
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(61, 72, 73);
    /* Green */
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h1.page-heading {
    font-size: 2vw;
    color: rgb(61, 72, 73);
}
h2 {
    font-size: 20px;
    font-weight: bold;
}

/* Text input labels */
label {
    color:rgb(61, 72, 73);
}

img {
    /* Prevent Image stretching */
    align-self: center;
}

/* Exhibit cards */
.card {
    color:rgba(27, 27, 27);
    padding: 5px;
    margin: 3px;
}

/* Edit button in Artist's page */
.editButton {
    margin-bottom: 1vw;
}