body {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    font-family: 'Arsenal', sans-serif;
}

img.icon {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px;
    margin-left: 15px;
}

img.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 4px;
    /* max-width: 100%;
    height: auto; */
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: navy;
    /* Green */
    color: white;
}

h1.page-heading {
    font-size: 2vw;
    color: rgb(61, 72, 73);
}

