    </script><div class="bio">
    <div class="row justify-content-center">
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.artist}}</h5>
                    <p class="bio"></p>
                    {{this.artistBio}}
                </div>
            </div>
    </div>
</div>